<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.daniel_li.prog2b">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:gravity="center"
        android:icon="@mipmap/ic_launcher"
        android:label="Represent!"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--mMAP STUFF-->

        <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCWOcL_5ECvhn98YzdAUeuwe6kGoZVjaJM"/>
        <service
            android:name=".FetchAddressIntentService"
            android:exported="false"/>



        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".simpleview"
            android:label="Congressional View"/>
            <!--android:theme="@style/AppTheme"-->

        <activity
            android:name=".simple2activity"
            android:label="Detailed View"
            android:theme="@style/AppTheme">

        </activity>

        <service android:name=".PhoneToWatchService" />
        <!-- Listeners are special services that need to be declared like below, as BIND_LISTENER -->
        <service android:name=".PhoneListenerService"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="24b099ab1fdb7eacc78195fa298d8669110b8bfe" />
    </application>

</manifest>
